Drop rows where EmployeeName and JobTitle are 'Not provided'

Replace 'Not Provided' with 0 in BasePay OvertimePay	OtherPay	Benefits

Change BasePay	OvertimePay	OtherPay	Benefits type to float

Display all employees name and basepay columns who have a BasePay greater than 200,000.

Find all employees whose JobTitle contains the word “Manager” (case = False)

Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.

Find count of employees who have zero OvertimePay.

Calculate the TotalPay for each JobTitle where totalpay > 300000

Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order

Replace all missing Benefits values with 0

Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

Find the number of employees per JobTitle.

In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("Salaries.xlsx")

In [5]:
df = df[~((df['EmployeeName'] == 'Not provided') & (df['JobTitle'] == 'Not provided'))]

In [7]:
cols_to_float = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']
df[cols_to_float] = df[cols_to_float].apply(pd.to_numeric, errors='coerce')

In [8]:
high_basepay = df.loc[df['BasePay'] > 200000, ['EmployeeName', 'BasePay']]
print("Employees with BasePay > 200,000:\n", high_basepay.head())

Employees with BasePay > 200,000:
           EmployeeName    BasePay
2       ALBERT PARDINI  212739.13
7        DAVID KUSHNER  256576.96
9   JOANNE HAYES-WHITE  285262.00
12   EDWARD HARRINGTON  294580.02
13         JOHN MARTIN  271329.03

In [9]:
managers = df[df['JobTitle'].str.contains('Manager', case=False, na=False)]
print("\nEmployees with 'Manager' in JobTitle:\n", managers.head())

Employees with 'Manager' in JobTitle:
       Id    EmployeeName                                        JobTitle  \
0      1  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
83    84  EDWARD REISKIN  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
87    88     KEVIN BARRY                                     MANAGER VII
95    96    MIVIC HIROSE                                    MANAGER VIII
162  163   JULIE LABONTE                                    MANAGER VIII

       BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0    167411.18          0.0  400184.25       NaN  567595.43         567595.43
83   230827.12          0.0       0.00       NaN  230827.12         230827.12
87    96814.36          0.0  133563.47       NaN  230377.83         230377.83
95   215180.76          0.0   12000.00       NaN  227180.76         227180.76
162  207501.20          0.0    2903.37       NaN  210404.57         210404.57

     Year  Notes         Agency Status
0    2011    NaN  San Francisco    NaN
83   2011    NaN  San Francisco    NaN
87   2011    NaN  San Francisco    NaN
95   2011    NaN  San Francisco    NaN
162  2011    NaN  San Francisco    NaN

In [10]:
selected_columns = df[['EmployeeName', 'JobTitle', 'TotalPay']]
print("\nSelected Columns:\n", selected_columns.head())

Selected Columns:
         EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

    TotalPay
0  567595.43
1  538909.28
2  335279.91
3  332343.61
4  326373.19

In [11]:
zero_overtime_count = df[df['OvertimePay'] == 0].shape[0]
print("\nCount of employees with zero OvertimePay:", zero_overtime_count)

Count of employees with zero OvertimePay: 77321

In [12]:
jobtitle_totalpay = df[df['TotalPay'] > 300000].groupby('JobTitle')['TotalPay'].sum().reset_index()
print("\nTotalPay (JobTitles where TotalPay > 300000):\n", jobtitle_totalpay.head())

TotalPay (JobTitles where TotalPay > 300000):
                              JobTitle    TotalPay
0           ASSISTANT DEPUTY CHIEF II   316285.74
1            Assistant Deputy Chief 2   654066.15
2        Asst Chf of Dept (Fire Dept)  1303828.26
3                   Asst Med Examiner  1069837.40
4  BATTALION CHIEF, (FIRE DEPARTMENT)   619408.60

In [13]:
top5_avg_totalpay = df.groupby('JobTitle')['TotalPayBenefits'].mean().nlargest(5).reset_index()
print("\nTop 5 JobTitles with highest Avg TotalPayBenefits:\n", top5_avg_totalpay)

Top 5 JobTitles with highest Avg TotalPayBenefits:
                                          JobTitle  TotalPayBenefits
0                        Chief Investment Officer     436224.360000
1                                 Chief of Police     411732.266667
2                          Chief, Fire Department     408865.326667
3  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     399211.275000
4                      Gen Mgr, Public Trnsp Dept     380696.440000

In [20]:
df.fillna({'Benefits': 0}, inplace=True)

In [15]:
top_employee_per_year = df.loc[df.groupby('Year')['TotalPay'].idxmax(), ['Year', 'EmployeeName', 'TotalPay']]
print("\nTop Employee by TotalPay in each Year:\n", top_employee_per_year)

Top Employee by TotalPay in each Year:
         Year    EmployeeName   TotalPay
0       2011  NATHANIEL FORD  567595.43
36159   2012  Gary Altenberg  362844.66
72927   2013     Samson  Lai  347102.32
110531  2014     David Shinn  471952.64

In [16]:
employee_count_per_job = df['JobTitle'].value_counts().reset_index()
employee_count_per_job.columns = ['JobTitle', 'EmployeeCount']
print("\nNumber of employees per JobTitle:\n", employee_count_per_job.head())

Number of employees per JobTitle:
                        JobTitle  EmployeeCount
0              Transit Operator           7036
1                 Special Nurse           4389
2              Registered Nurse           3736
3  Public Svc Aide-Public Works           2518
4              Police Officer 3           2421