In [10]:
import pandas as pd

In [11]:
df = pd.read_excel("student data.csv.xlsx")

In [12]:
def assign_grade(score):
    if score >= 80:
        return 'A'
    elif score >= 70:
        return 'B'
    elif score >= 60:
        return 'C'
    elif score >= 50:
        return 'D'
    else:
        return 'F'

In [13]:
df['Grade'] = df['Percentage'].apply(assign_grade)

In [14]:
df.to_csv("student_data_with_grades.csv", index=False)

In [15]:
grade_summary = df['Grade'].value_counts().sort_index()
print("Grade Distribution:\n", grade_summary)

Grade Distribution:
 Grade
A    13
B    17
C     9
D     8
F     3
Name: count, dtype: int64

In [18]:
df.head(51)

    roll no       Name  Chemistry  Physics  Math  Percentage Grade
0       101      Aliza         50       23    87       53.33     D
1       102     Fareed         45       24    88       52.33     D
2       103      Basit         46       25    89       53.33     D
3       104   Abdullah         47       26    90       54.33     D
4       105        Ali         48       27    67       47.33     F
5       106   Mubashir         49       28    68       48.33     F
6       107     Waleed         50       29    69       49.33     F
7       108    Mansoor         51       30    70       50.33     D
8       109       Zain         52       31    71       51.33     D
9       110     Mohsin         53       67    72       64.00     C
10      111   Shahmeer         54       68    73       65.00     C
11      112        Rao         55       69    74       66.00     C
12      113  Aurangzeb         56       70    75       67.00     C
13      114    Zeeshan         57       71    76       68.00     C
14      115      Hamna         58       72    77       69.00     C
15      116      Hamza         59       73    78       70.00     B
16      117     Khalid         60       74    79       71.00     B
17      118     Behroz         61       75    80       72.00     B
18      119     Justin         62       76    81       73.00     B
19      120     Danish         63       77    82       74.00     B
20      121     Kainat         64       78    83       75.00     B
21      122     Sameer         65       79    84       76.00     B
22      123       Raza         66       80    85       77.00     B
23      124      Kumar         67       81    86       78.00     B
24      125      Komal         68       82    87       79.00     B
25      126       Erum         69       83    88       80.00     A
26      127      Faiza         70       84    89       81.00     A
27      128      Saeed         71       85    90       82.00     A
28      129      Waqar         72       86    91       83.00     A
29      130       Wali         73       87    92       84.00     A
30      131      Wajid         74       88    93       85.00     A
31      132     Waseeb         75       89    94       86.00     A
32      133      Shiza         76       90    95       87.00     A
33      134    Shabina         77       91    96       88.00     A
34      135    Shazain         78       55    97       76.67     B
35      136      Lubna         79       61    98       79.33     B
36      137      Laiba         80       88    78       82.00     A
37      138  Khursheed         81       56    45       60.67     C
38      139        Ali         82       89    46       72.33     B
39      140       Aiza         83       45    89       72.33     B
40      141      Aiman         84       92    78       84.67     A
41      142    Yasmeen         85       36    56       59.00     D
42      143    Tasbeel         86       78    78       80.67     A
43      144     Laraib         87       56    54       65.67     C
44      145     Saleem         88       78    78       81.33     A
45      146     Bismil         89       89    46       74.67     B
46      147     Batool         90       56    79       75.00     B
47      148       Iqra         91       33    46       56.67     D
48      149    Zarnish         92       78    45       71.67     B
49      150       Zara         83       45    56       61.33     C